
<button nz-button (click)="addRow()" nzType="primary">Agregar producto</button>

  <nz-table #filterTable [nzData]="products" nzTableLayout="fixed" [nzScroll]="{  y: '240px' }" >
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns; trackBy: trackByName"
          [(nzSortOrder)]="column.sortOrder!"
          [nzSortFn]="column.sortFn!"
          [nzFilters]="column.listOfFilter!"
          [nzFilterFn]="column.filterFn!"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td> <img [src]="data.image" alt="data.image"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.value }}</td>
        <td>{{ data.quantity }}</td>
        <td class="btn">
            <button nz-button nzType="primary" [nzSize]="'small'" nzShape="circle" class="green" (click)="editProduct(data)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="primary" nzDanger [nzSize]="'small'" nzShape="circle" (click)="deleteProduct(data)">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
        </td>
      </tr>
    </tbody>
  </nz-table>