p {
    margin: 0;
  }

nz-card {
    width:200px !important;
}

.ant-card-body {
    padding: 10px !important;
}

.margen {
    height:90%;
    overflow: scroll;
    margin-bottom: 3%;
}

.ant-pagination {
    text-align: right !important;
}

.gridStyle {
    width: 100%;
}



button {
    background: #6ad21ee6;
    border-color: #6ad21ee6;
}

.quantity {
    color: black;
}

.btn-go-to-cart {
    display: flex;
    justify-content: flex-end;
}

.coverTemplate{
    width: 80%;
    padding: 10px;
    position: relative;
    left: 7%;
}

img {
    width: 100%;
}

.ant-row, .ant-row::after, .ant-row::before {
    display: flex;
    justify-content: center;
    gap: 5%;
}